In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
s21 = pd.read_csv('ship21.csv')
s21

     XRF    para    Ni     Fe  Ni-s  Fe-s Ni-DP  Fe-DP Ni-bias Fe-bias
0      2  S21-01  0.78  49.57  0.01  0.09  0.76  49.58   -0.02    0.01
1      2  S21-02  0.80  48.90  0.02  0.13  0.77  47.36   -0.03   -1.54
2      2  S21-03  0.78  48.21  0.01  0.13  0.79  49.88    0.01    1.67
3      2  S21-04  0.78  50.43  0.02  0.26  0.77  50.75   -0.01    0.32
4      2  S21-05  0.78  52.09  0.01  0.13  0.83  47.20    0.05   -4.89
..   ...     ...   ...    ...   ...   ...   ...    ...     ...     ...
226    4  S21-73  0.88  48.47  0.00  0.12  0.86  48.66   -0.02    0.19
227    4  S21-74  1.46  15.75  0.00  0.04  1.38  16.64   -0.08    0.89
228    4  S21-75  1.67  15.50  0.00  0.02  1.60  16.43   -0.07    0.93
229    4  S21-76  1.42  15.55  0.00  0.04  1.36  15.32   -0.06   -0.23
230    4  S21-77  1.38  14.19  0.00  0.02  1.33  14.72   -0.05    0.53

[231 rows x 10 columns]

In [25]:
s21.describe()

             XRF          Ni          Fe        Ni-s        Fe-s
count  231.00000  231.000000  231.000000  231.000000  231.000000
mean     3.00000    0.794026   46.849437    0.004762    0.141861
std      0.81827    0.222118    9.375934    0.005884    0.093416
min      2.00000    0.560000   12.970000    0.000000    0.010000
25%      2.00000    0.630000   48.860000    0.000000    0.070000
50%      3.00000    0.780000   49.560000    0.000000    0.130000
75%      4.00000    0.860000   50.040000    0.010000    0.190000
max      4.00000    1.670000   52.500000    0.020000    0.450000

In [36]:
s21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   XRF      231 non-null    int64
 1   para     231 non-null    object
 2   Ni       231 non-null    float64
 3   Fe       231 non-null    float64
 4   Ni-s     231 non-null    float64
 5   Fe-s     231 non-null    float64
 6   Ni-DP    231 non-null    object
 7   Fe-DP    231 non-null    object
 8   Ni-bias  231 non-null    object
 9   Fe-bias  231 non-null    object
dtypes: float64(4), int64(1), object(5)
memory usage: 18.2+ KB

In [37]:
s21.dtypes.value_counts()

object     5
float64    4
int64      1
dtype: int64